services:
  mongodb:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
  backend:
    image: ordoro-backend:latest
    build: ./Back-end
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/ordoro
    depends_on:
      - mongodb
  frontend:
    image: ordoro-frontend:latest
    build: ./Frount-end
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
